@(customer: Customer)(implicit request: Request[_])

@main("Login Anzeigen") {
	@customerTable(customer, true)
	
	@if(request.flash.get("confirmeDelete").isDefined) {
      <a class="btn btn-danger" href="@routes.Application.deleteCustomer(customer.login, true)">Login wirklich löschen</a>
      <a class="btn btn-default" href="@routes.Application.showCustomer(customer.login)">Abbrechen</a>
    } else {
      <a class="btn btn-warning" href="@routes.Application.deleteCustomer(customer.login, false)">Login löschen</a>
    }
    
    <br><br>
	<p>
	  Das Benutzer- und Administrator-Paßwort kann über die DropDown-Menüs gesetzt und gelöscht werden.
	</p>
    <p>
	  Wechseln Sie zur Editieren-Ansicht, um übrigen Felder des Logins zu bearbeiten.
    </p>
}
